AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
BreakBeforeBraces: Attach
BreakStringLiterals: false
PointerAlignment: Right
SpaceBeforeSquareBrackets: false